[package]
name = "tests"
version = "0.1.0"
edition = "2024"
resolver = "3"

[lib]
crate-type = ["lib", "cdylib"]

[dependencies]
spire_tween = { workspace = true }
godot = { git = "https://github.com/Houtamelo/dead_gds_have_rights", features = ["experimental-threads", "register-docs"] }